<ion-view title="Asignatura">
  <ion-content padding="true">
    <div class="card">
      <div class="item item-divider" style="background-color:limegreen; color:white;">
        Info:
      </div>
      <div class="item">
        <p><b>Nombre: </b>{{subject.name}}</p>
        <p><b>Periodo: </b>{{subject.when}}</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider" style="background-color: deepskyblue; color:white;">
        Usuarios matriculados
      </div>
      <div class="item" ng-repeat="student in subject.students">
        <h2>{{student.name}}</h2>
        <p><b>Dirección:</b> {{student.address}}</p>
        <p><b>Tlf. casa:</b> {{student.phones.home}} - <b>Tlf. trabajo:</b> {{student.phones.work}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
